/* Styles page de connexion */
/* body{
    transition: background-color .5s;
}
*/
h3{
  margin-top: 45px;
}
 li{
    padding: 15px;
  } 
ul{
  list-style-type: none;
}
.btn :hover {
  box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.3);
  text-shadow: 5px 4px 2px rgba(0, 0, 0, 0.3);
  background-color: white;
}
#sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -500px;
  width: 400px;
  background-color: #eee;
  transition: left 0.5s ease-in-out;
  height: 100vh;
}

#sidebar.visible {
  left: 0;
}

#hideNav {
  margin-bottom: 10px;
  position: absolute;
  left: 400px;
}